POSTGRES_DB=routineescape
POSTGRES_USER=routineescape
POSTGRES_PASSWORD=routineescape_dev
POSTGRES_PORT=5432
ROUTINEESCAPE_CONNECTION_STRING=Host=localhost;Port=5432;Database=routineescape;Username=routineescape;Password=routineescape_dev
Telegram__BotToken=
Telegram__WebhookSecret=
Telegram__UseLongPolling=true
